services:
  httpserver:
    container_name: httpserver
    expose:
      - 8888
    ports:
      - "8888:8888"
    networks:
      - vulnerable
    build: CVE-2021-44228-Apache-Log4j-Rce/

  ldapserver:
    container_name: ldapserver
    expose:
      - 1389
    ports:
      - "1389:1389"
    networks:
      - attack
    build: ldap/

  listener:
    container_name: listener
    expose:
      - 4444
    ports:
      - "4444:4444"
    networks:
      - attack
    build: ./

networks:
  attack: {}
  vulnerable: {}